<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://kit.fontawesome.com/26cfe429da.js" crossorigin="anonymous"></script>
    <title> Delta Co Helpers </title>
    
    <!-- Font Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">


    <script defer src="https://stats.deltacogaming.win/script.js" data-website-id="c7a705d1-2323-4b46-96c2-1591c9140a4e"></script>
</head>
